/* ===================== */
/*   ダークモード上書き  */
/* ===================== */
body.dark-mode {
  background: #222;
  color: #eee;
}

body.dark-mode .section {
  border: 1px solid #555;
  background: #2b2b2b;
}

body.dark-mode .section h3 {
  background: #333;
  color: #ddd;
}

body.dark-mode input,
body.dark-mode select,
body.dark-mode textarea {
  background: #333;
  color: #eee;
  border: 1px solid #555;
}

body.dark-mode .row.exp-row input[type="number"] {
  border: 1px solid #aaa;
  background: #333;
  color: #eee;
}

body.dark-mode button,
body.dark-mode .add-button {
  background: #333;
  color: #ddd;
  border: 1px solid #555;
}

body.dark-mode .add-button:disabled {
  background-color: #444;
  color: #777;
  border: 1px solid #555;
}

body.dark-mode .growth-block,
body.dark-mode .rois-block {
  border: 1px solid #555;
  background: #2b2b2b;
}

body.dark-mode #output,
body.dark-mode .output-area {
  background: #2a2a2a;
  border: 1px solid #555;
  color: #eee;
}

body.dark-mode .button-36 {
  border: 1px solid #3f588f;
  background-color: #222;
  color: #3f588f;
}

body.dark-mode .button-36.active {
  background-color: #3f588f;
  color: #fff;
}

body.dark-mode #KIZ-form .growth-block {
  border: 1px solid #555;
  background-color: #2c2c2c;
}

body.dark-mode #KIZ-form .growth-block input[type="text"],
body.dark-mode #KIZ-form .growth-block textarea {
  background: #333;
  color: #eee;
  border: 1px solid #555;
}

/* ===================== */
/*  ダークモード: 入力不可欄  */
/* ===================== */
body.dark-mode input:disabled,
body.dark-mode textarea:disabled,
body.dark-mode select:disabled,
body.dark-mode input[readonly],
body.dark-mode textarea[readonly],
body.dark-mode select[readonly] {
  background-color: #4e4e4e;  /* 通常入力欄より暗め */
  color: #666;               /* グレー文字 */
  border: 1px solid #666;    /* 枠線は通常より少し暗め */
  cursor: not-allowed;       /* マウスカーソルも禁止マーク */
}

/* ===================== */
/*  ダークモード:トップへ戻るボタン */
/* ===================== */
body.dark-mode .top-button {
  background-color: #444;
  color: #aaa;
  border-color: #aaa;
}
body.dark-mode .top-button::before {
  border-top: 2px solid #aaa;
  border-right: 2px solid #aaa;
}
